pkgbase = zellij-bin
	pkgdesc = A terminal workspace and multiplexer.
	pkgver = 0.15.0
	pkgrel = 1
	url = https://zellij.dev
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = gendesk
	makedepends = imagemagick
	provides = zellij
	conflicts = zellij-git
	conflicts = zellij
	source_x86_64 = https://github.com/zellij-org/zellij/archive/refs/tags/v0.15.0.tar.gz
	source_x86_64 = zellij-0.15.0-x86_64-unknown-linux-musl.tar.gz::https://github.com/zellij-org/zellij/releases/download/v0.15.0/zellij-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = e8f3f190d75b89050ca7a85114ddb80aa8f03af66376452bbd5ed5c412a94e76
	sha256sums_x86_64 = d5eb2a626b48518157ce4823284e3974cecf5ed1f77bceeaeee9f593846d58be
	source_aarch64 = https://github.com/zellij-org/zellij/archive/refs/tags/v0.15.0.tar.gz
	source_aarch64 = zellij-0.15.0-aarch64-unknown-linux-musl.tar.gz::https://github.com/zellij-org/zellij/releases/download/v0.15.0/zellij-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = e8f3f190d75b89050ca7a85114ddb80aa8f03af66376452bbd5ed5c412a94e76
	sha256sums_aarch64 = f7e1f7b997704f0278d3ee72daf403bd526c6519a067da99b7d24272cc4e47ef

pkgname = zellij-bin
